.image-upload-container {
    position: relative;
    width: 100%
}

#imageUploadBtn {
  margin-top: -2px;
  margin-bottom: 2px;
  max-height: 60px;
  max-width: 400px;
  padding: 16px;
  text-align: left;
  width: 100%;

  input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }

  .button--inner {
    display: flex;
    justify-content: space-between;
  }

  svg {
    height: auto;
    width: 100%;

    g,
    path {
      stroke: #3B96FF;
    }
  }

  &:disabled {
    &:hover {
      border: none;
      box-shadow: none;
      color: #D5D6D7;
      outline: none;
    }

    svg {
      g,
      path {
        stroke: #D5D6D7;
      }
    }
  }
}
